<div>
  
  <form class="wrap mb-3 mt=5 items-center p-4 sticky top-12 w-full z-50">
    <div class="search">
      <input class="searchTerm bg-slate-500 rounded w-96 h-10 " type="text" name="searchTerm" 
        placeholder="Filter by name"
        [(ngModel)]="searchPokemon"
         (input)="search(searchPokemon)" />
    </div>
  </form>
    <ul>

       
        <app-pokemon-list-item *ngFor="let pokemon of pokemons | paginate: config
         | searchFilter: searchPokemon; index as i " [pokemon]="pokemon"></app-pokemon-list-item>
         <div class="text-right">
            <pagination-controls
            [directionLinks]="directionLinks"       
            [responsive]="responsive"
             (pageChange)="pageChanged($event)">
            </pagination-controls>
          </div>
    </ul>
</div>


