

<li  class="mb-4 shadow bg-white rounded relative "  *ngIf="pokemon">
   <app-favourite-button [pokemonId]="pokemon.id"></app-favourite-button>
   <button class="border border-slate-300 
   rounded flex justify-center items-center p-2 text-pink-600"  (click)="alertConfirmation()">
    <span class="material-symbols-sharp">info</span>
   </button>
    <section class="p-4" >
        <span class="text-xl" >{{pokemon.name}}</span>
        <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" class="block, w-72" />
    </section>
</li>

