<header class="container mx-auto p-4" >
</header>
<main class="container mx-auto p-4" >
<h4 class="text-3xl text-white" >You favourites</h4>
<app-pokemon-list [pokemons]="favourites" ></app-pokemon-list>
</main>
