<aside class="absolute top-4 right-4" >
    <button (click)="onFavouriteClick()"
    class="border border-slate-300 
    rounded flex justify-center items-center p-2 text-pink-600" >

    <ng-container *ngIf="!loading; else spinner">
     <ng-container *ngIf="isFavourite; then favourite else notFavourite" class="material-symbols-sharp" >grade</ng-container>
      <ng-template #favourite>
        <span class="material-symbols-sharp">star</span>
     </ng-template>
     <ng-template #notFavourite>
        <span class="material-symbols-sharp">grade</span>
     </ng-template>
    </ng-container>

    <ng-template #spinner>
        <span class="material-symbols-sharp animate-spin" >refresh</span>
    </ng-template>
    
        
    </button>
   


</aside>


