<main class="container mx-auto px-4 ">
  <app-login-form (login)="handleLogin()"></app-login-form>
  <div class="rounded ml-64 mt-20">
    <img class="rounded-lg" id="b" src="assets/piko.png" height="400" width="450" />

</div>
</main>

