@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark-blue{
    background-color: #283549;


    background-repeat: no-repeat;

    background-attachment: fixed;

    background-size: cover;
}
